n8n-workflows/workflows/Lead_Capture_v1___Stable.json
{
  "name": "Lead Capture v1 – Stable",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        64
      ],
      "id": "23970d62-a5e5-4eb9-8204-759db88524c6",
      "name": "Webhook",
      "webhookId": "8cbbb9c4-de8d-401d-89c1-b6a01bf1765f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af11251a-c45f-4018-8058-60a227d490ab",
              "name": "body.full_name",
              "value": "={{ $json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "4bd49fe4-91b5-4adb-91fe-727ab3f7ddbe",
              "name": "body.email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "e2fe1fbd-0832-46f0-83fb-4e5ab38cd636",
              "name": "body.phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "a372ce17-5a59-443d-bb6f-eb8af8d35b1c",
              "name": "body.source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "36b21068-c79c-48a4-b069-9e41da05fdc0",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "518d6a74-2403-485c-8d6a-6bcefd675475",
              "name": "created_at",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "32740d38-c356-40c7-bfe9-e66ed1214236",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        64
      ],
      "id": "1fea9b26-a797-4fe7-9555-435f16c30e8d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "71cd6d79-695f-4280-a927-91272a23331e",
              "leftValue": "={{ $json.body.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "5631606c-df79-4cc7-8fe1-3dbca4bca80c",
              "leftValue": "={{ $json.body.phone }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        64
      ],
      "id": "fa140a10-c47d-4098-bd29-57ec1f51128e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e3071f1-33da-471b-be2d-2cb3d04f70ca",
              "name": "error_reason",
              "value": "Missing Email",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -96
      ],
      "id": "4e17e8c4-d14f-4472-b8a0-64ee0d023c39",
      "name": "error_msg"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the lead data below and classify it.\n\nRULES:\n1. Return ONLY valid JSON.\n2. Do NOT include explanations, markdown, or extra text.\n3. Use EXACT field names as specified.\n4. Choose values only from the allowed options.\n5. If unsure, make a best reasonable decision.\n\nFIELDS & ALLOWED VALUES:\n- lead_id: unique int value that's not present in the sheet .\n- intent: \"Buying\", \"Inquiry\", \"Support\", \"Spam\"\n- lead_quality: \"Hot\", \"Warm\", \"Cold\"\n- pipeline_stage: \n  - \"New Lead\"\n  - \"Qualified\"\n  - \"Nurture\"\n  - \"Disqualified\"\n- tags: array of short strings (max 5)\n\nCLASSIFICATION LOGIC:\n- If message shows urgency, pricing, viewing, or purchase intent → intent = \"Buying\", lead_quality = \"Hot\"\n- If message is asking for info only → intent = \"Inquiry\", lead_quality = \"Warm\"\n- If unclear or generic → lead_quality = \"Cold\"\n- If promotional, random, or irrelevant → intent = \"Spam\"\n\nLead Data:\n\nName: {{ $json.body.full_name }}\nMessage: {{ $json.body.message }}\nSource: {{ $json.body.source }}\n\nRETURN FORMAT EXAMPLE:\n{\n  \"intent\": \"Buying\",\n  \"lead_quality\": \"Hot\",\n  \"pipeline_stage\": \"New Lead\",\n  \"tags\": [\"Website\", \"High Intent\"]\n}\nUse checkEmailDup tool to look for duplicate email, if TRUE use update row to update the existing row. If FALSE, use the append tool to insert new lead data.\n\nSend a Slack message when:\n- A new lead is created, or\n- An existing lead is updated\n\nMessage includes:\n- Name\n- Intent\n- Lead quality\n- Source\n- Pipeline stage\n",
        "options": {
          "systemMessage": "You are a CRM lead analysis engine used in an automated workflow.\nYour output will be consumed by other automation nodes.\nYou must follow the rules strictly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        208
      ],
      "id": "bf9993ea-558d-42ba-9689-b7f273d26cc8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        432
      ],
      "id": "09b9c0e2-e4de-47df-b429-434cbca62c5e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "azEylIdmR5lfKatT",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        432
      ],
      "id": "c183abce-518f-4954-9018-944ab77cf7d6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool Get row(s) in sheet in Google Sheets check if there are duplicates",
        "documentId": {
          "__rl": true,
          "value": "1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA",
          "mode": "list",
          "cachedResultName": "Leads_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        928,
        432
      ],
      "id": "1ed14b54-a6b7-4a34-ad71-d5096d530dbf",
      "name": "checkEmailDup",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gqQtFrw66o8WG8pp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update row in sheet in Google Sheets when there's duplicate email found.",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA",
          "mode": "list",
          "cachedResultName": "Leads_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.body.email }}",
            "full_name": "={{ $json.body.full_name }}",
            "phone": "={{ $json.body.phone }}",
            "source": "={{ $json.body.source }}",
            "intent": "={{ $json.body.message }}",
            "lead_quality": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_quality', ``, 'string') }}",
            "pipeline_stage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pipeline_stage', ``, 'string') }}",
            "tags": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tags', ``, 'string') }}",
            "assigned_to": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('assigned_to', ``, 'string') }}",
            "created_at": "={{ $json.created_at }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_quality",
              "displayName": "lead_quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pipeline_stage",
              "displayName": "pipeline_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1056,
        432
      ],
      "id": "e2f13bb1-1017-4cac-b76d-f804b3ebb8c4",
      "name": "Update Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gqQtFrw66o8WG8pp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Append row in sheet in Google Sheets when there's no duplicate email found",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA",
          "mode": "list",
          "cachedResultName": "Leads_CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gXjGYELDjN9eNTGBsq2R5KIlNhHPrsiQPVaJlE5PSHA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}",
            "full_name": "={{ $json.body.full_name }}",
            "email": "={{ $json.body.email }}",
            "phone": "={{ $json.body.phone }}",
            "source": "={{ $json.body.source }}",
            "intent": "={{ $json.body.message }}",
            "lead_quality": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_quality', ``, 'string') }}",
            "pipeline_stage": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pipeline_stage', ``, 'string') }}",
            "tags": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tags', ``, 'string') }}",
            "assigned_to": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('assigned_to', ``, 'string') }}",
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_quality",
              "displayName": "lead_quality",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pipeline_stage",
              "displayName": "pipeline_stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assigned_to",
              "displayName": "assigned_to",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1184,
        432
      ],
      "id": "8e7307fa-16b5-49ee-aa70-a1ca9f8dd7ee",
      "name": "Append",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gqQtFrw66o8WG8pp",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## AI-Powered Lead Qualification Workflow\nthis workflow automates lead capture and filters data before saving to CRM (gsheets) and notifies the team(in slack) when there's new leads.\nUtilizes OpenAI to help analyzing the data\n",
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        -144
      ],
      "typeVersion": 1,
      "id": "2b995527-5a3b-4f70-960f-3b1c6629cc23",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a message in Slack when new lead is captured.",
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AAMV7KG2F",
          "mode": "list",
          "cachedResultName": "all-n8n-marketing-team"
        },
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_Text', ``, 'string') }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slackTool",
      "typeVersion": 2.4,
      "position": [
        1312,
        432
      ],
      "id": "0f3beba2-91f3-41a4-8501-be6b2507d1c7",
      "name": "Send a message in Slack",
      "webhookId": "89d6d853-3bb6-4a6c-8e62-69766b61656f",
      "credentials": {
        "slackOAuth2Api": {
          "id": "imTGzckJuVGS9ysw",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "No email"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1520,
        -96
      ],
      "id": "64b3c9a8-43cc-45eb-b4fb-f0a683c6201e",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "error_msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "checkEmailDup": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Slack": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "error_msg": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a965c131-1862-45f3-ab73-1f35c2e41aca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81cbcdc711bceceef27760bf990f944526aac3884dff4e0e061df8eeacd321cd"
  },
  "id": "FGs9-Ia94yyVrQAHoZuAN",
  "tags": [
    {
      "updatedAt": "2026-01-29T16:03:49.967Z",
      "createdAt": "2026-01-29T16:03:49.967Z",
      "id": "ArBIC67gofisJK5C",
      "name": "CRM"
    },
    {
      "updatedAt": "2026-01-29T16:03:58.257Z",
      "createdAt": "2026-01-29T16:03:58.257Z",
      "id": "ztWZpFxoriSFzFLM",
      "name": "Stable"
    }
  ]
}