workflows/Error-Trigger.json
[
  {
    "updatedAt": "2026-05-01T16:16:28.144Z",
    "createdAt": "2026-05-01T06:32:18.087Z",
    "id": "7DSZl2n5wTTUgVxZ",
    "name": "Error-Trigger",
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              {
                "name": "message",
                "value": "=⚠️`{{$json[\"workflow\"][\"name\"]}}` Workflow failed to run bitch!⚠️\n\nError Message: {{ $json.execution.error.messages[0] }} | {{ $json.execution.error.context.data.error.message }}\nLevel: {{ $json.execution.error.level }}\n\n[See More]({{ $json.execution.url }})"
              }
            ]
          },
          "options": {
            "dotNotation": true
          }
        },
        "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
        "name": "Set message",
        "type": "n8n-nodes-base.set",
        "position": [
          720,
          448
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "chatId": "=8483508216",
          "text": "={{ $json.message }}",
          "additionalFields": {}
        },
        "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          928,
          448
        ],
        "typeVersion": 1.1,
        "webhookId": "0926e330-c9ef-43ac-9912-3692dbf4d670",
        "credentials": {
          "telegramApi": {
            "id": "00BfI0N8Xm0WNVoe",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          480,
          448
        ],
        "id": "36615ba8-6770-489c-b1b6-56aff08640aa",
        "name": "Error Trigger"
      }
    ],
    "connections": {
      "Set message": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram": {
        "main": [
          []
        ]
      },
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Set message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": true
    },
    "staticData": null,
    "meta": {
      "templateId": "2159",
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Error Trigger": [
        {
          "json": {
            "execution": {
              "id": "50",
              "url": "https://autodex-n8n.onrender.com/workflow/567nbYfwzisP3yx7/executions/50",
              "error": {
                "level": "warning",
                "tags": {},
                "description": "File not found: 1tPxTxrwl1Jz1p2KcpvhtoUi41CoR84eu.",
                "timestamp": 1777651272539,
                "context": {
                  "data": {
                    "error": {
                      "code": 404,
                      "message": "File not found: 1tPxTxrwl1Jz1p2KcpvhtoUi41CoR84eu.",
                      "errors": [
                        {
                          "message": "File not found: 1tPxTxrwl1Jz1p2KcpvhtoUi41CoR84eu.",
                          "domain": "global",
                          "reason": "notFound",
                          "location": "fileId",
                          "locationType": "parameter"
                        }
                      ]
                    }
                  }
                },
                "functionality": "regular",
                "name": "NodeApiError",
                "node": {
                  "parameters": {
                    "authentication": "oAuth2",
                    "resource": "folder",
                    "operation": "deleteFolder",
                    "folderNoRootId": {
                      "__rl": true,
                      "mode": "id",
                      "value": "={{ $json.id }}"
                    },
                    "options": {
                      "deletePermanently": true
                    }
                  },
                  "id": "f6f44cbe-a98e-4a49-8c4c-59ebe02db9e5",
                  "name": "delete folder",
                  "type": "n8n-nodes-base.googleDrive",
                  "position": [
                    1520,
                    272
                  ],
                  "typeVersion": 3,
                  "executeOnce": false,
                  "credentials": {
                    "googleDriveOAuth2Api": {
                      "id": "nijsDk6TtGom87pq",
                      "name": "Google Drive account"
                    }
                  }
                },
                "messages": [
                  "Request failed with status code 404"
                ],
                "httpCode": "404",
                "message": "The resource you are requesting could not be found",
                "stack": "NodeApiError: The resource you are requesting could not be found\n    at ExecuteContext.httpRequestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_d301200d8c5446bebb311523c3c1b485/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1187:9)\n    at processTicksAndRejections (node:internal/process/task_queues:104:5)\n    at ExecuteContext.httpRequestWithAuthentication (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_d301200d8c5446bebb311523c3c1b485/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/request-helper-functions.ts:1584:11)\n    at ExecuteContext.googleApiRequest (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/transport/index.ts:54:11)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/actions/folder/deleteFolder.operation.ts:55:3)\n    at ExecuteContext.router (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/actions/router.ts:35:26)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/Google/Drive/v2/GoogleDriveV2.node.ts:25:10)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_d301200d8c5446bebb311523c3c1b485/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1048:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_d301200d8c5446bebb311523c3c1b485/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1239:11)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_d301200d8c5446bebb311523c3c1b485/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1687:27"
              },
              "lastNodeExecuted": "delete folder",
              "mode": "trigger",
              "executionContext": {
                "version": 1,
                "establishedAt": 1777651259896,
                "source": "trigger",
                "redaction": {
                  "version": 1,
                  "policy": "none"
                },
                "triggerNode": {
                  "name": "Schedule Trigger",
                  "type": "n8n-nodes-base.scheduleTrigger"
                }
              }
            },
            "workflow": {
              "id": "567nbYfwzisP3yx7",
              "name": "N8N-WORKFLOW-BACKUP"
            }
          },
          "pairedItem": {
            "item": 0
          }
        }
      ]
    },
    "versionId": "1621bdc5-9c11-4c48-b7ca-47765555f23d",
    "activeVersionId": "1621bdc5-9c11-4c48-b7ca-47765555f23d",
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2026-05-01T06:32:18.087Z",
        "createdAt": "2026-05-01T06:32:18.087Z",
        "role": "workflow:owner",
        "workflowId": "7DSZl2n5wTTUgVxZ",
        "projectId": "LLyXK7n92MiWqg6u"
      }
    ],
    "activeVersion": {
      "updatedAt": "2026-05-01T16:16:55.715Z",
      "createdAt": "2026-05-01T16:16:20.480Z",
      "versionId": "1621bdc5-9c11-4c48-b7ca-47765555f23d",
      "workflowId": "7DSZl2n5wTTUgVxZ",
      "nodes": [
        {
          "parameters": {
            "keepOnlySet": true,
            "values": {
              "string": [
                {
                  "name": "message",
                  "value": "=⚠️`{{$json[\"workflow\"][\"name\"]}}` Workflow failed to run bitch!⚠️\n\nError Message: {{ $json.execution.error.messages[0] }} | {{ $json.execution.error.context.data.error.message }}\nLevel: {{ $json.execution.error.level }}\n\n[See More]({{ $json.execution.url }})"
                }
              ]
            },
            "options": {
              "dotNotation": true
            }
          },
          "id": "abffce17-cc93-4c6a-8955-de2d0f4cc885",
          "name": "Set message",
          "type": "n8n-nodes-base.set",
          "position": [
            720,
            448
          ],
          "typeVersion": 1
        },
        {
          "parameters": {
            "chatId": "=8483508216",
            "text": "={{ $json.message }}",
            "additionalFields": {}
          },
          "id": "845ddf26-2d40-4cc6-843b-ccb3b365fbfb",
          "name": "Telegram",
          "type": "n8n-nodes-base.telegram",
          "position": [
            928,
            448
          ],
          "typeVersion": 1.1,
          "webhookId": "0926e330-c9ef-43ac-9912-3692dbf4d670",
          "credentials": {
            "telegramApi": {
              "id": "00BfI0N8Xm0WNVoe",
              "name": "Telegram account"
            }
          }
        },
        {
          "parameters": {},
          "type": "n8n-nodes-base.errorTrigger",
          "typeVersion": 1,
          "position": [
            480,
            448
          ],
          "id": "36615ba8-6770-489c-b1b6-56aff08640aa",
          "name": "Error Trigger"
        }
      ],
      "connections": {
        "Set message": {
          "main": [
            [
              {
                "node": "Telegram",
                "type": "main",
                "index": 0
              }
            ]
          ]
        },
        "Telegram": {
          "main": [
            []
          ]
        },
        "Error Trigger": {
          "main": [
            [
              {
                "node": "Set message",
                "type": "main",
                "index": 0
              }
            ]
          ]
        }
      },
      "authors": "DEX D",
      "name": "Version 1621bdc5",
      "description": "",
      "autosaved": true
    },
    "tags": []
  }
]